<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TweetGazer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="./plugin/dll" />
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TweetGazer.Properties.Settings>
      <setting name="AccentColor" serializeAs="String">
        <value>Cobalt</value>
      </setting>
      <setting name="BaseColor" serializeAs="String">
        <value>BaseLight</value>
      </setting>
      <setting name="AccentColorIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BaseColorIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsUpdateCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsSendDebugInformations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsNotify" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsCloseAfterCreateStatusCorrect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsGifAutoPlay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsGifLoopPlay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsVideoLoopPlay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsCreateStatusWhenPressCtrlEnter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsDisplayReplyStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsThumbnailing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsCloseWhenClickImage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsSmoothScrolling" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CreateStatusTrayXPosition" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="CreateStatusTrayYPosition" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="IsVisibleCreateStatusTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CreateStatusIsOpened" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsNotifyOfMention" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsNotifyOfReply" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsNotifyOfFavorite" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsNotifyOfRetweet" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsNotifyOfQuote" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsNotifyOfFollow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsUseFavoriteStar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsVisibleViaInformation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsMinimizeCreateStatusTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsConfirmOfCreateStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsConfirmOfDeleteStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsConfirmOfFavorite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsConfirmOfDestroyFavorite" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsConfirmOfRetweet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsConfirmOfUnretweet" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsConfirmOfFollow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsConfirmOfDestroyFollow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsConfirmOfBlock" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsConfirmOfDestroyBlock" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsConfirmOfMute" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsConfirmOfDestroyMute" serializeAs="String">
        <value>True</value>
      </setting>
    </TweetGazer.Properties.Settings>
  </userSettings>
</configuration>
